<%= form_for [@update_form, question], remote: true, method: :put,
html: { class: 'edit_question form-inline' } do |f| %>
  <div class="form-group">
    <%= f.label :text, class: 'control-label' %>
    <%= f.text_field :text, class: 'form-control', autocomplete: 'off', required: true %>
  </div>
  <%#= f.submit "<i class='fa fa-check'></i>".html_safe, class: 'btn btn-success' %>
  <button class="btn btn-success" type="submit">
    <i class="fa fa-check"></i>
  </button>

  <%= link_to "<i class='fa fa-times'></i>".html_safe, '#', id: 'cancel-update',
   class: 'btn btn-danger', data: { id: question.id, old_text: question.text} %>
<% end %>
